rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{delegateToken}/{collection}/statements/{statementId} {
      allow read, write: if false;
    }
  }
}
